.container {
  padding: 32px 0px 32px 40px;
  min-height: calc(100vh - 92px);
  color: var(--text-color);
  background-color: var(--background-color);
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8dc5f6;
}

.addButton {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  margin-left: 20px;
  background: #148ef8;
}

.addButton:hover {
  background: #3e7df9;
  box-shadow: 0px 3px 8px -1px rgba(62, 125, 249, 0.84);
}

.addButton:active {
  background: #306add;
  box-shadow: 0px 3px 8px -1px rgba(62, 125, 249, 0.84);
}

.listWrapper {
  margin-top: 30px;
  height: calc(100vh - 218px);
  overflow-y: hidden;
}

.listHeader {
  background-color: var(--header-background);
  border-radius: 18px 18px 0px 0px;
  height: 53px;
  border-bottom: 1px solid var(--background-color);
  display: flex;
  align-items: center;
  padding-left: 28px;
  margin-right: 40px;
}

.headerItem {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #adebff;
}

.headerItemNumber {
  width: 79px;
}

.headerItemName {
  width: 450px;
}

.headerItemLogin {
  width: 236px;
}

.headerItemStatus {
  width: 133px;
}

.arrowDownButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.arrowDownButton > svg {
  fill: #148ef8;
}

.arrowDownButton:hover > svg {
  fill: #14c1f8;
}

.listItemsScrollWrapper {
  width: calc(100vw - 40px);
  height: calc(100% - 52px);
  overflow-y: scroll;
  background-color: var(--background-color);
}

.listItemsWrapper {
  background-color: var(--header-background);
  border-radius: 0px 0px 18px 18px;
  height: fit-content;
  min-height: 100%;
  width: calc(100vw - 80px);
}

.listItem {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 28px;
}

.listItemAfter {
  display: none;
  content: '';
  width: 0;
  height: 75%;
  position: absolute;
  border-left: 2px solid #158ef8;
  bottom: 10%;
  right: 0;
  box-shadow: 2px 0px 18px 3px #158ef8;
}

.listItemBefore {
  display: none;
  content: '';
  width: 0;
  height: 75%;
  position: absolute;
  border-right: 2px solid #158ef8;
  bottom: 10%;
  left: 0;
  box-shadow: 2px 0px 18px 3px #158ef8;
}

.listItemAfterBeforeActive {
  display: block;
}

.listItem:hover {
  background-color: var(--active-background);
}

.listItemNumber {
  width: 79px;
}

.listItemName {
  width: 450px;
}

.listItemLogin {
  width: 236px;
}

.buttonContainer {
  position: absolute;
  right: 28px;
}

.buttonContainer > button > svg {
  fill: #1d5d93;
}
