.filtersWrapper {
  position: relative;
  height: 62px;
  background-color: var(--login-background);
  margin: 0px 30px 18px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.datePickerWrapper {
  margin-left: 12px;
}

.line {
  margin: 0 16px 0 20px;
  border-left: 1px solid var(--line-color);
  height: 38px;
}

.billButton {
  width: 74px;
  height: 38px;
}

.wrapperSlider {
  display: flex;
  align-items: center;
}

.wrapperSliderAbsolute {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 638px;
  height: 62px;
  background-color: var(--login-background);
  border-radius: 12px;
  bottom: -66px;
  left: 154px;
}

.statusBar {
  display: flex;
  justify-content: center;
  margin-right: 12px;
}
