.bigWidgetWrapper {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  position: relative;
  width: 314px;
  height: 314px;
  padding: 0 17px;
  background-color: var(--widget-background);
  border-radius: 6px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cameraWidgetWrapper {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  position: relative;
  width: 314px;
  height: 244px;
  padding: 0 17px;
  background-color: var(--widget-background);
  border-radius: 6px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigWidgetWrapper > .widgetName {
  white-space: nowrap;
}

.colorCircle {
  width: 50px;
  height: 50px;
}

.colorPickerCover {
  position: absolute;
  top: 70px;
  width: 162px;
  height: 162px;
  border-radius: 50%;
  cursor: not-allowed;
}

.tempPickerCover {
  position: absolute;
  top: 72px;
  width: 172px;
  height: 172px;
  border-radius: 50%;
  cursor: not-allowed;
}

.circleBar {
  height: 172px;
  width: 172px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ada9f3 0deg,
    #cae7f5 144.6deg,
    #feebe0 172.15deg,
    #ffddd3 211.88deg,
    #f8dee0 244.9deg,
    #ada9f3 360deg
  );
  display: flex;
  align-items: center;
}

.tempPickerWrapper {
  position: absolute;
  top: 72px;
  display: flex;
}

.minGrad {
  align-self: end;
  width: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6083d6;
}

.maxGrad {
  align-self: end;
  width: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #dc7e94;
}

.labelTemp {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(274.35deg, #eff6ff 3.77%, #fefeff 93.34%);

  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #284a69;
}

.middleWidgetWrapper {
  grid-column: auto / span 2;
  position: relative;
  width: 314px;
  background: #173b59;
  height: 114px;
  padding: 0 10px;
  border-radius: 6px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;

  display: flex;
  flex-direction: column;
}

.percentBar {
  width: 41px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.5px;

  color: #e3f2ff;
  display: flex;
  justify-content: center;
}

.bar {
  height: 34px;
  width: 191px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  padding: 0 4px;
}

.littleWidgetWrapper {
  padding: 0 16px;
  position: relative;
  width: 149px;
  height: 149px;
  background-color: var(--widget-background);
  border-radius: 10.6765px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  display: flex;
  flex-direction: column;
}

.littleWidgetIconsContainer {
  position: relative;
}

.widgetIconsWrapper {
  width: 149px;
  height: 149px;
  background-color: var(--widget-background);
  border-radius: 6px;
}

.iconsContainerWithScroll {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90px;
  overflow-y: scroll;
}

.iconsContainerWithoutScroll {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.temperatureWrapper {
  position: absolute;
  bottom: 20px;
  left: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.temperature {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;

  color: #e3f2ff;
}

.pointWrapper {
  position: relative;
  height: 60%;
  width: 100%;
}

.toggleWrapper {
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.toggleWrapperTemp {
  margin-top: 229px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.redPoint {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5252;
  box-shadow: 0px 0px 6px rgba(255, 82, 82, 0.74);
}

.greyPoint {
  position: absolute;
  bottom: 16px;
  left: 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #336690;
  box-shadow: none;
}

.openLabel,
.closedLabel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.5px;
  border-radius: 4px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
}

.openLabel {
  background: #1c5265;
  color: #37c3a2;
}

.closedLabel {
  background: #484058;
  color: #ff5252;
  margin-bottom: 17px;
}

.buttonsContainer {
  position: absolute;
  bottom: 16px;
  width: calc(100%-20px);
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.openCloseBtns {
  height: 28px;
  width: 55px;
  background: #1a4a72;
  border-radius: 6px;
  fill: #dadada;
  display: flex;
  align-items: center;
  justify-content: center;
}

.openCloseBtns:hover {
  background: #3e7df9;
  fill: #dadada;
}

.middleWidgetIconsWrapper {
  grid-column: auto / span 2;
  width: 247px;
  height: 110px;
  background-color: var(--widget-background);
  border-radius: 6px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  border: 1px solid #697b8b;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px;
  max-width: 40px;
  height: 40px;
}

.webcam {
  border-radius: 4%;
  margin-top: 10px;
}

.widgetName {
  max-height: 34px;
  width: 100%;
  margin: 17px 0 9px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 115%;
  color: #e3f2ff;
  overflow: hidden;
}

.widgetIconsName {
  text-align: center;
  max-height: 15px;
  white-space: nowrap;
  width: 100%;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;
  overflow: hidden;
}

.widgetGroupName {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 115%;
  color: #5b8fbe;
}

.colorPickerWrapper {
  position: absolute;
  top: 70px;
}
