.bigWidgetWrapper {
  grid-column: auto / span 2;
  grid-row: auto / span 2;
  position: relative;
  width: 247px;
  height: 247px;
  padding: 10px;
  background-color: var(--widget-background);
  border-radius: 6px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.bigWidgetWrapper > .widgetName {
  white-space: nowrap;
}

.colorCircle {
  width: 50px;
  height: 50px;
}

.colorPickerCover {
  position: absolute;
  top: 60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: not-allowed;
}

.tempPickerCover {
  position: absolute;
  top: 59px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  cursor: not-allowed;
}

.circleBar {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  background: conic-gradient(
    from 180deg at 50% 50%,
    #ada9f3 0deg,
    #cae7f5 144.6deg,
    #feebe0 172.15deg,
    #ffddd3 211.88deg,
    #f8dee0 244.9deg,
    #ada9f3 360deg
  );
  display: flex;
  align-items: center;
}

.tempPickerWrapper {
  position: relative;
  display: flex;
}

.minGrad {
  align-self: end;
  width: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  color: #6083d6;
}

.maxGrad {
  align-self: end;
  width: 20px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: right;

  color: #dc7e94;
}

.labelTemp {
  position: absolute;
  top: 17px;
  left: 37px;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(274.35deg, #eff6ff 3.77%, #fefeff 93.34%);

  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #284a69;
}

.middleWidgetWrapper {
  grid-column: auto / span 2;
  position: relative;
  width: 247px;
  height: 110px;
  padding: 0 10px;
  background-color: var(--widget-background);
  border-radius: 6px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;

  display: flex;
  flex-direction: column;
}

.percentBar {
  width: 25px;
}

.bar {
  height: 20px;
  width: 140px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 2px;
}

.littleWidgetWrapper {
  padding: 0 10px;
  position: relative;
  width: 110px;
  height: 110px;
  background-color: var(--widget-background);
  border-radius: 6px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;

  display: flex;
  flex-direction: column;
}

.littleWidgetIconsContainer {
  position: relative;
}

.littleWidgetIconsWrapper {
  width: 110px;
  height: 110px;
  background-color: var(--widget-background);
  border-radius: 6px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.temperatureWrapper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.temperature {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #e3f2ff;
}

.pointWrapper {
  position: relative;
  height: 60%;
  width: 100%;
}

.toggleWrapper {
  position: absolute;
  bottom: 20px;
  left: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.toggleWrapperTemp {
  position: absolute;
  bottom: 10px;
  left: 100px;
  display: flex;
  gap: 10px;
  align-items: center;
  text-align: center;
}

.redPoint {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff5252;
  box-shadow: 0px 0px 6px rgba(255, 82, 82, 0.74);
}

.greyPoint {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #cbdbeb;
  box-shadow: none;
}

.openLabel {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 60px;
  height: 20px;
  border-radius: 4px;
  background-color: #e9f7fd;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 115%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.5px;

  color: #49a1c9;
}

.closedLabel {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 60px;
  height: 20px;
  border-radius: 4px;
  background-color: #fde9e9;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 115%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.5px;

  color: #ff5252;
}

.buttonsContainer {
  position: absolute;
  bottom: 10px;
  width: calc(100%-20px);
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.openCloseBtns {
  height: 24px;
  width: 40px;
  background: #daf2f3;
  border-radius: 6px;
  fill: #3d67d6;
}

.openCloseBtns:hover {
  background: linear-gradient(
    180deg,
    #4a9efe -28.21%,
    #3c77d6 132.18%,
    #6aa3fc 135.9%,
    #6aa3fc 135.9%
  );
  fill: #dadada;
}

.middleWidgetIconsWrapper {
  grid-column: auto / span 2;
  width: 247px;
  height: 110px;
  background-color: var(--widget-background);
  border-radius: 6px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.icon {
  border: 1px solid #697b8b;
  cursor: pointer;
  border-radius: 5px;
  margin: 2px;
  max-width: 40px;
  height: 40px;
}

.webcam {
  border-radius: 4%;
  margin-top: 10px;
}

.widgetName {
  max-height: 34px;
  width: 100%;
  margin: 5px 0;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;
  overflow: hidden;
}

.widgetIconsName {
  max-height: 15px;
  white-space: nowrap;
  width: 100%;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;
  overflow: hidden;
}

.widgetGroupName {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;

  margin-bottom: 5px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #e3f2ff;
}
