.modalNewWidget {
  position: relative;
  width: 1200px;
  min-height: 640px;
  max-height: 80%;
  padding: 0 !important;
  color: var(--text-color);
  background: #0c314f;
  box-shadow: 0px 0px 22px #082135;
}

.modalLabel {
  position: absolute;
  top: 15px;
  left: 25px;
  padding-bottom: 10px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
  display: flex;
  align-items: center;
  gap: 6px;
  width: calc(100% - 50px);
  border-bottom: 1px solid #2c5982;
}

.mainContainer {
  margin: 73px 22px 0;
  height: calc(100% - 150px);
  display: flex;
  flex-direction: column;
  background: #123a5b;
  border-radius: 12px;
  overflow-y: scroll;
}

.chooseTypeContainer {
  padding: 0 20px;
  display: flex;
  overflow-x: hidden;
  border-bottom: 1px solid #2c5982;
}

.typeWrapper {
  margin: 20px 0;
  position: relative;
  height: 209px;
  border-radius: 10.6765px;
  width: 149px !important;
  z-index: 1;
  cursor: pointer;
}

.typeWrapper:hover {
  box-shadow: 0px 3px 15px #3175ac;
  border-radius: 10.6765px;
}

.activeTypeWrapper,
.activeTypeWrapper:hover {
  box-shadow: 0px 3px 15px #082135;
}

.widgetImg {
  width: 149px;
  height: 149px;
}

.widgetNoImg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: yellow;
  width: 149px;
  height: 149px;
}

.typeName {
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.chooseParamsContainer {
  padding: 10px 22px 0;
  background-color: var(--widget-background);
  border-radius: 6px;
  max-height: 218px;
}

.labelParams {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: #9adbf6;
  display: flex;
  align-items: center;
  height: 11px;
  margin: 15px 0;
}

.groupParams {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
}

.paramWrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 4px;
}

.labelParamsNoStates {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.03em;
  color: #5183b1;
}

.param {
  width: 100%;
}

.input {
  background: #1f4f77;
  border-radius: 8px;
  border: none;
  padding: 16px;
  height: 40px;
  width: 280px;
  color: #5183b1;
}

.input::placeholder {
  color: #5183b1;
}

.submitButtonsWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.submitButton {
  width: 104px;
  height: 27px;
  margin-left: 10px;
  border-radius: 6px;
}
