.modalNewWidget {
  position: relative;
  width: 1240px;
  min-height: 600px;
  max-height: 80%;
  padding: 0 !important;
  color: var(--text-color);
  background-color: var(--header-background);
}

.modalLabel {
  position: absolute;
  top: 15px;
  left: 25px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
}

.mainContainer {
  margin-top: 60px;
  width: 100%;
  height: calc(100% - 110px);
  display: flex;
  flex-direction: column;
  background-color: var(--header-background);
  border-radius: 0 0 16px 16px;
}

.chooseTypeContainer {
  height: 180px;
  padding: 0 20px;
  display: flex;
  overflow-x: hidden;
}

.typeWrapper {
  position: relative;
  background-color: var(--widget-background);
  height: 160px;
  width: 100px !important;
  border-radius: 5px;
  margin: 0 5px;
  z-index: 1;
  cursor: pointer;
}

.activeTypeWrapper {
  box-shadow: 0px 3px 15px #ffffff;
  border: 1px solid rgb(255, 255, 255);
}

.widgetImg {
  width: 100px;
  height: 100px;
}

.widgetNoImg {
  display: flex;
  align-items: center;
  justify-content: center;
  color: yellow;
  width: 100px;
  height: 100px;
}

.typeName {
  text-align: center;
  width: 100px;
  padding: 5px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
}

.chooseParamsContainer {
  padding-left: 10px;
  height: calc(100% - 170px);
  background-color: var(--widget-background);
  margin: 0 20px;
  border-radius: 6px;
  overflow-y: scroll;
}

.labelParams {
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}

.groupParams {
  display: flex;
  flex-wrap: wrap;
  row-gap: 5px;
  column-gap: 20px;
  margin-bottom: 10px;
}

.paramWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 4px;
}

.labelParamsNoStates {
  color: var(--text-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
}

.param {
  width: 120px;
}

.select {
  height: 34px;
  width: 250px;
  background: var(--input-background);
  border-radius: 10px;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 400;
  color: var(--text-input-color);
  border: 1px solid var(--text-input-color);
}

.input {
  background-color: transparent;
  border: 1px solid var(--text-input-color);
  border-radius: 10px;
  padding: 8px 16px;
  color: var(--text-input-color);
  height: 34px;
  width: 250px;
}

.submitButtonsWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 20px;
}

.submitButton {
  width: 104px;
  height: 27px;
  margin-left: 10px;
  border-radius: 6px;
}
