.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 92px;
  background-color: var(--header-background);
  color: var(--text-color);
  padding-left: 40px;
}

.containerInputHeader {
  width: 232px;
  fill: #5183b1;
  color: #5183b1;
  margin-left: 20px;
}

.inputHeader {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  background: #113351;
  border-radius: 8px;
}

.smallSearchButton {
  width: 46px;
  height: 44px;
  fill: var(--input-placeholder-color);
  margin-left: 25px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--search-button-background);
}

.wrapperSectionToggle {
  display: flex;
  justify-content: center;
  margin-right: 300px;
  width: calc(100% - 500px);
  height: 100%;
  color: var(--input-placeholder-color);
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.section {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  color: #5e93c0;
  transition: all 0.4s;
  margin-right: 20px;
}

.section:hover {
  color: #2c9bfc;
  text-decoration: none;
  transition: all 0.4s;
}

.section:focus {
  text-decoration: none;
}

.activeSection:focus {
  color: #adebff;
  transition: all 0.4s;
}

.activeSection {
  font-weight: 700;
  color: #adebff;
  transition: all 0.4s;
}

.activeSection::after {
  position: absolute;
  bottom: -8px;
  content: '';
  width: 100%;
  border-top: 10px solid #148ef8;
  border-radius: 2px;
  box-shadow: 0px 0px 3px #158ef8;
  animation: mymove 500ms;
}

.activeSection::before {
  position: absolute;
  bottom: -10px;
  right: -200px;
  content: '';
  height: 10px;
  width: 500px;
  background-color: var(--background-color);
  z-index: 1;
}

.reverseAnimation::after {
  position: absolute;
  bottom: -8px;
  content: '';
  width: 100%;
  border-top: 10px solid #148ef8;
  border-radius: 2px;
  box-shadow: 0px 0px 3px #158ef8;
  animation: reversemove 500ms;
}

@keyframes mymove {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

@keyframes reversemove {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.settingsContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  right: 30px;
  width: 200px;
}

.avatarContainer {
  cursor: pointer;
  max-width: 206px;
  height: 44px;
  border-radius: 10px;
  display: flex;
}

.avatarContainer > svg {
  fill: var(--icon-background);
}

.avatar {
  height: 44px;
  width: 44px;
  border-radius: 10px;
}

.avatarHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: #5e93c0;
  margin-left: 12px;
  max-width: 154px;
  overflow: hidden;
  white-space: nowrap;
}

.badge {
  visibility: visible;
  position: absolute;
  display: flex;
  top: 54px;
  width: 216px;
  height: 149px;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
  background: #113858;
  box-shadow: 0px 0px 18px #0a2b46;
  border-radius: 10px;
  z-index: 2;
}

.toggleThemeContainer {
  display: flex;
  border-bottom: 1px solid var(--line-color);
  padding-bottom: 11px;
  margin-bottom: 6px;
}

.languageSelectWrapper {
  margin-left: -10px;
}

.toggleLabel {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: var(--text-color);
  margin-left: 12px;
}

.horizontalLine {
  height: 1px;
  border: none;
  background-color: var(--line-color);
}

.badgeButton {
  display: flex;
  justify-content: flex-start;
  background: transparent;
  cursor: pointer;
}

.badgeButton:hover {
  background: #124c7d;
  box-shadow: none;
}

.badgeButton:active {
  box-shadow: none;
}

.buttonLabel {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #adebff;
}

.badgeButton > svg {
  stroke: var(--text-color);
}

.line {
  width: 100%;
  height: 1px;
  border: none;
  background-color: var(--line-color);
}

.downLine {
  position: absolute;
  bottom: 58px;
  left: 0px;
  background-color: var(--line-color);
  width: 100%;
  height: 1px;
  border: none;
}

/* modal settings */
.modalSettings {
  width: 976px;
  height: 593px;
}

.profileNameWrapper {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.profileName {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8dc5f6;
}

.status {
  margin-top: 5px;
}

.line {
  margin: 0;
}

.emailPhoneContainer {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.phoneLabel,
.emailLabel {
  padding-bottom: 12px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #6d9cc5;
}

.inputWrapper {
  width: 280px;
}

.inputLabel {
  height: 10px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.passwordsContainer {
  padding: 24px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.sendSMSButton {
  margin-top: 30px;
  align-self: flex-start;
  width: 104px;
  height: 27px;
  margin-left: 10px;
  border-radius: 6px;
}

.submitButton {
  position: absolute;
  bottom: 25px;
  right: 20px;
  width: 104px;
  height: 27px;
  margin-top: 30px;
  margin-left: 10px;
  border-radius: 6px;
}

/* modal logout */
.modalLogout {
  width: 492px;
  height: 236px;
  background: #0c314f;
  box-shadow: 0px 0px 22px #350808 !important;
  border-radius: 15px;
}

.contentWrapperLogout {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 433px;
  height: 125px;
}

.contentLogout {
  display: flex;
  justify-content: flex-start;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150.7%;
  color: #9adbf6;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.cancelButton,
.logoutButton {
  width: 104px;
  height: 27px;
  border-radius: 6px;
}

.logoutButton {
  background: #148ef8;
  margin-left: 12px;
}
