.modalWidgets {
  position: relative;
  width: 1240px;
  min-height: 600px;
  max-height: 80%;
  padding: 0 !important;
  color: var(--text-color);
  background-color: var(--header-background);
}

.modalLabel {
  position: absolute;
  top: 15px;
  left: 25px;
  color: var(--text-color);
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
}

.mainContainer {
  margin-top: 100px;
  padding-bottom: 10px;
  width: 100%;
  height: calc(100% - 100px);
  display: flex;
  background-color: var(--header-background);
  border-radius: 0 0 16px 16px;
}

.containerLabelGroups {
  position: absolute;
  width: 100%;
  top: 50px;
  padding: 10px 10px 10px 30px;
  background-color: var(--header-background);
  display: flex;
  color: var(--text-color);
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
}

.containerLabelWidgets {
  position: absolute;
  width: 100%;
  top: 50px;
  left: 310px;
  padding: 10px;
  display: flex;
  color: var(--text-color);
  font-weight: 600;
  font-size: 22px;
  line-height: 34px;
}

.addButton {
  border-radius: 8px;
  width: 32px;
  height: 32px;
  margin-left: 20px;
}

.groupsContainer {
  width: 50%;
  height: 100%;
  border-right: 2px solid #173b59;
  overflow-y: auto;
  margin-top: 10px;
}

.groupWrapper {
  position: relative;
  background: #173b59;
  margin: 10px auto;
  width: 246px;
  border-radius: 6px;
  height: 34px;
  cursor: pointer;
  padding-left: 12px;

  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  letter-spacing: 0.02em;
  color: #e3f2ff;
  overflow: hidden;

  display: flex;
  align-items: center;
  text-align: center;
}

.groupWrapper:hover {
  background: #17456b;
}

.removeIcon {
  position: absolute;
  right: 15px;
}

.removeIcon > svg {
  fill: #5183b1;
}

.removeIcon:hover > svg {
  fill: #58b1ff;
}

.removeIcon:active > svg {
  fill: #148ef8;
}

.editIcon {
  position: absolute;
  right: 36px;
}

.editIcon > svg {
  fill: #5183b1;
}

.editIcon:hover > svg {
  fill: #58b1ff;
}

.editIcon:active > svg {
  fill: #148ef8;
}

.activeGroupWrapper,
.activeGroupWrapper:hover {
  background-color: #1560a1;
}

.widgetsContainer {
  width: 150%;
  height: fit-content;
  max-height: 100%;
  max-width: fit-content;
  min-width: 75%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
  padding: 15px 50px;
  overflow-y: auto;
}

.modalLogout {
  width: 492px;
  height: 236px;
  background: #0c314f;
  box-shadow: 0px 0px 22px #350808 !important;
  border-radius: 15px;
}

.contentWrapperLogout {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 433px;
  height: 125px;
}

.contentLogout {
  display: flex;
  justify-content: flex-start;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150.7%;
  color: #9adbf6;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.cancelButton,
.logoutButton {
  width: 104px;
  height: 27px;
  border-radius: 6px;
}

.logoutButton {
  background: #148ef8;
  margin-left: 12px;
}
