.wrapperCheckbox {
  margin: 0;
  padding-left: 2px;
  display: flex;
  overflow: hidden;
  position: relative;
}

.checkbox {
  display: none;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;

  color: #5789b6;
}

.label:before {
  content: '';
  color: #000;
  display: flex;
  position: relative;
  width: 18px;
  height: 18px;
  background: transparent;
  border: 1.5px solid var(--text-color);
  border-radius: 3.375px;
}

.checkbox:checked + .label:before {
  position: relative;
  background: #1c60e5;
  box-shadow: inset 0px 2.25px 1.125px rgba(0, 0, 0, 0.0590183);
  border: 1.125px solid #1c60e5;
}

.wrapperCheckbox:hover > .label:before {
  display: flex;
  border: 1.125px solid #2298ff;
  box-shadow: 0px 1.125px 3.375px rgba(255, 168, 168, 0.0750113);
}

.wrapperCheckbox:hover > .label {
  color: #84b5e3;
}

.checkbox:disabled + .label {
  color: #aaa;
  cursor: auto;
}

.hasError:before {
  border-color: red;
}

.tick {
  visibility: hidden;
  position: absolute;
  top: 45%;
  left: 6px;
  transform: translateY(-50%);
}

.checkbox:checked ~ .label > .tick {
  visibility: visible;
}

.disabledTick {
  opacity: 0.5;
}
