.container {
  padding: 32px 40px;
  min-height: calc(100vh - 92px);
  color: var(--text-color);
  background-color: var(--background-color);
}

.header {
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 31px;
  display: flex;
  align-items: center;
  letter-spacing: 0.02em;
  color: #8dc5f6;
}

.listWrapper {
  background-color: var(--header-background);
  margin-top: 30px;
  height: calc(100vh - 217px);
  border-radius: 18px;
  overflow-y: hidden;
}

.listHeader {
  border-radius: 18px 18px 0px 0px;
  height: 53px;
  border-bottom: 1px solid var(--background-color);
  display: flex;
  align-items: center;
  padding-left: 28px;
}

.headerItem {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #adebff;
}

.headerItemNumber {
  width: 69px;
}

.headerItemDeviceType {
  width: 141px;
}

.headerItemName {
  width: 321px;
}

.headerItemID {
  width: 263px;
}

.headerItemFirmware {
  width: 133px;
}

.arrowDownButton {
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.listItem {
  cursor: pointer;
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 28px;
}

.listItemsWrapper {
  height: calc(100% - 52px);
  overflow-y: scroll;
}

.listItemNumber {
  width: 69px;
}

.listItemDeviceType {
  width: 141px;
}

.listItemName {
  width: 321px;
}

.listItemIDWrapper {
  width: 263px;
}

.listItemID {
  padding: 0px 12px 0px 12px;
  width: max-content;
  display: flex;
  gap: 6px;
}

.copyIconWrapper {
  display: none;
}

.listItemID:hover {
  background: var(--label-hover-background);
  border: 1px solid #148ef8;
  box-shadow: 0px 0px 5px #158ef8;
  border-radius: 7px;
}

.listItemID:hover .copyIconWrapper {
  display: block;
}

.listItemFirmware {
  width: 133px;
}

.buttonContainer {
  position: absolute;
  right: 28px;
}

.listItem::after {
  display: none;
  content: '';
  width: 0;
  height: 75%;
  position: absolute;
  border-left: 2px solid #158ef8;
  bottom: 110%;
  right: 0;
  box-shadow: 2px 0px 18px 3px #158ef8;
}

.listItem::before {
  display: none;
  content: '';
  width: 0;
  height: 75%;
  position: absolute;
  border-right: 2px solid #158ef8;
  bottom: 110%;
  left: 0;
  box-shadow: 2px 0px 18px 3px #158ef8;
}

.listItem:hover + .listItem::before,
.listItem:hover + .listItem::after {
  display: block;
}

.listItem:hover {
  background-color: var(--active-background);
}
