.container {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
  width: 100%;
  justify-content: center;
}

.main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--login-background);
  width: 60%;
  box-shadow: 0px 4px 13px var(--shadow-color);
  border-radius: 24px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 10px;
}

.logo {
  margin: 0 auto 27px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color);
}

.button {
  min-width: 149px;
  padding: 4px 0;
}

.wrapperToggleEng {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.wrapperToggleTheme {
  position: absolute;
  bottom: 32px;
  right: 32px;
}
