.container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(
    108.08deg,
    var(--login-background_1) -1.91%,
    var(--login-background_2) 98.91%
  );
  width: 100%;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 287px;
  gap: 10px;
}

.logo {
  margin: 0 auto 27px;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--text-color);
}

.button {
  min-width: 162px;
  padding: 4px 0;
}

.wrapperToggleEng {
  position: absolute;
  bottom: 32px;
  left: 32px;
}

.sign {
  position: absolute;
  bottom: 32px;
  left: calc(50% - 107px);
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  color: #295c88;
}

.wrapperToggleTheme {
  position: absolute;
  bottom: 32px;
  right: 32px;
}

.eyeWrapper {
  cursor: pointer;
}
